<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <appSettings>
    <add key="ServerIp" value="127.0.0.1" />
    <add key="ServerPort" value="6500" />
    <add key="ClientIp" value="127.0.0.1" />
    <add key="ClientPort" value="0" />
  </appSettings>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IClientCRUDService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:6501/WcfServices/ClientCRUDService/"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IClientCRUDService"
                contract="WcfServices.IClientCRUDService" name="BasicHttpBinding_IClientCRUDService" />
        </client>
    </system.serviceModel>
</configuration>